tr.selected {
  background-color: lightblue;
}

/* Estilos para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #336699;
  /* Color de fondo de las celdas de encabezado */
  color: white;
  /* Color del texto de las celdas de encabezado */
}

tr:hover {
  background-color: #f2f2f2;
  /* Color de fondo al pasar el ratón sobre una fila */
}

/* Estilos para el mensaje de éxito */
.mensaje-exito {
  padding: 10px;
  background-color: #dff0d8;
  /* Color de fondo de éxito */
  color: #3c763d;
  /* Color del texto de éxito */
  border: 1px solid #d6e9c6;
  /* Borde de éxito */
  border-radius: 4px;
  /* Radio del borde de éxito */
  margin-top: 10px;
  /* Espaciado superior */
}

.detalle-producto {
  background-color: #f2f2f2;
  /* Color de fondo del contenedor */
  color: black;
  /* Color del texto dentro del contenedor */
  padding: 20px;
  /* Espaciado interno */
  border-radius: 5px;
  /* Radio del borde */
}

h1 {
  margin-bottom: 20px;
  /* Espaciado inferior para el título */
  text-align: center;
}